* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: lightgray;
    font-family: 'Lato', sans-serif;
    z-index: -1;
}

img {
    height: 10vh;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: grey;
    margin: 5px;
}

@media screen and (max-width:1068px) {
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 50%;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: lightgray;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
        font-size: 9px;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%)
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: 50px;
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.container {
    position: relative;
    text-align: center;
    z-index: -2;
}

.bgimg {
    height: 100%;
}

.centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 0.308);
    padding: 50px;
    border-style: double;
    border-color: rgb(255, 255, 255);
}

@media screen and (max-width: 770px) {
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2vh;
        font-family: 'Poppins', sans-serif;
        background-color: rgba(255, 255, 255, 0.308);
        border-style: double;
        border-color: rgb(255, 255, 255);
        padding: 10px;
    }
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3hv;
    text-align: center;
    margin: 70px;
}

.call-outs-container {
    max-width: 1400px;
    margin: 40px auto 0 auto;
}

.call-out {
    padding: 20px;
    box-sizing: border-box;
    flex-basis: 30%;
    display: flex;
    justify-content: center;
}

@media (min-width: 900px) {
    .call-outs-container {
        display: flex;
        justify-content: space-between;
    }
}

.call-outs-container2 {
    max-width: 1400px;
    margin: 40px auto 0 auto;
}

.call-out2 {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 25px;
    flex-basis: 30%;
    font-family: 'Lato', sans-serif;
}

@media (min-width: 900px) {
    .call-outs-container2 {
        display: flex;
        justify-content: space-between;
    }
}

.video {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 50px;
}

.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}

#hero {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hero input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}

#hero input[type="submit"] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #fce4ec;
}

#hero input[type="submit"]:hover {
    background-color: #f8bbd0;
    transition: background-color 1s;
}

@media screen and (max-width: 865px) {
    #hero {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1vh;
    }
    #hero input[type="email"] {
        max-width: 90px;
        max-height: 15px;
        width: 100%;
        padding: 5px;
    }
    #hero input[type="submit"] {
        max-width: 100px;
        width: 100%;
        height: 15px;
        margin: 1px;
        border: 0;
        background-color: #fce4ec;
    }
}